{% extends 'home/base.html' %}
{% load static %}
{% block content %}
 <!-- page wrapper starts -->
 <style>
    .jumbotron {
        background: url("{% static 'img2/slider/tur3.jpg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        margin-bottom: 0px;
        background-position:center top;
    }
    .jumbotron .breadcrumb {
        max-width: 400px;
        border-radius: 0px;
    }
    /* jumbotron */
	.jumbotron {
		height: 200px;
	}
    @media (max-width: 1200px) {
        .top-bar .contact-details li {
            padding: 0px 0px;
        }
        #not-found {
            margin-top: 5rem;
            margin-bottom: 3rem;
        }
        .counter {
            margin-bottom: 20px;
        }
        /* Jumbotron */
        .jumbotron {
            min-height: 250px;
            background-size: cover!important;
            background-attachment: scroll;
        }
    @media (min-width: 1500px) {
        .jumbotron {
            height: 280px;
        }
        .jumbo-heading {
            margin-top: 140px;
        }
        .slider-divider {
            margin-top: -100px;
        }
    }
    
    .jumbo-heading {
        margin-bottom: 0px;
        text-align: left;
        text-align: center;
        border-radius: 10px;
        padding: 20px 40px;
        margin-top: 70px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    
    .jumbo-heading h1 {
        color: #fff;
        font-size: 2.5em;
    }
 </style>
 <div id="page-wrapper">
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <!-- jumbo-heading -->
            <div class="jumbo-heading" data-aos="fade-down">
                <h1>About Us</h1>
                <!-- Breadcrumbs -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </nav>
                <!-- /breadcrumb -->
            </div>
            <!-- /jumbo-heading -->
        </div>
        <!-- /container -->
    </div>
    <!-- /jumbotron -->
    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="container block-padding">
            <!--row -->
            <div class="row">
                <!-- /col-lg-->
                <div class="col-lg-5">
                    <img src="{% static 'img2/slider/about.jpg' %}" class="img-fluid blob" alt="">
                    <!-- ornament starts-->
                    <div class="ornament-bubbles" data-aos="fade-right"></div>
                </div>
                <div class="col-lg-7">
                    <h3>Who we are </h3>
                    <p class="h7 mt-3 mb-4"></p>
                    <p>Adili Solar Hubs is a youth led social enterprise that focuses on building and running clean energy solutions 
                        for advancement of rural economies. Our Adili Cold Hubs Project builds, owns and operates solar powered 
                        cold chain management hubs for the marginalized fishing communities. These hubs will help to reduce 
                        post-harvest fish losses, increase food security, grow the fish market, and provide employment 
                        opportunities for men, women and youth involved in the fish trade - at the hubs we develop.
                        February 2020 Adili Solar Hubs commenced full scale project development. The company was registered, 
                        and feasibility studies began in Turkana County as well as the Urban markets for Fish. May 2020, we signed 
                        an agreement with USADF. October 2020, we signed an agreement with Efficiency for Access Coalition’s 
                        fund Research and Development Fund with the commencement date being 1
                        st of August 2020.
                    </p>
                    <ul class="custom pl-0">
                        <h3 class="text-center">CUSTOMER VALUE PROPOSITION</h3>
                        <li>Consistent & Reliable source of
                            ice and fish to stakeholders</li>
                        <li>Higher returns from fresh fish
                            which fetch higher rates than
                            dried/smoked fish</li>
                        <li>More opportunities for market 
                            of fish in bulk</li>
                        <li>Shared expenses through delivery
                            of fish to urban markets and close
                            proximity of ice to fisherfolk</li>  
                        <li>Contamination & Spoilage risk
                            lowered, due to hygienic
                            processing and packaging of fish</li>     

                    </ul>
                    <!-- /custom-ul-->
                </div>
            </div>
            <div class="row mt-5">
                <!-- notepad -->
                <div class="col-lg-12">
                    <div class="notepad mt-5" data-aos="zoom-out">
                        <div class="row">
                            <!-- /col-lg-->
                            <div class="col-lg-8">
                                <h4 class="mt-3">OUR
                                    MODEL</h4>
                                <p class="res-margin">Build, own, operate solar 
                                    powered Cold chain 
                                    management systems</p>
                               
                                <a href="/contact" class="btn btn-tertiary">Contact Us</a>
                            </div>
                            <div class="col-lg-4">
                                
                            </div>
                            <!-- /col-lg-->
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /notepad -->
                </div>
                <!-- /col-lg-->
            </div>
            <div class="card mb-3 mt-3">
                <img src="{% static 'img2/slider/fish2.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
              <div class="card mb-3 mt-3">
                <img src="{% static 'img2/slider/proccess.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
              <div class="card mb-3 mt-3">
                <img src="{% static 'img2/slider/flow.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
              <div class="card mb-3 mt-3">
                <img src="{% static 'img2/slider/impact.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
              <div class="card mb-3 mt-3">
                <img src="{% static 'img2/slider/goals.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
            <div class="row mt-5">
                <div class="col-lg-5">
                    
                    <!-- ornament starts-->
                    <div class="ornament-bubbles" data-aos="fade-right"></div>
                </div>
                <div class="col-lg-7">
                    
                    
                    <!-- /custom-ul-->
                </div>
            </div>
            <!-- /row -->
            <div class="row mt-5">
                <div class="col-lg-7">
                   
                    <!-- /custom-ul-->
                </div>
                <div class="col-lg-5">
                    
                    <!-- ornament starts-->
                    <div class="ornament-bubbles" data-aos="fade-right"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page -->
</div>
<!--/ page-wrapper -->
<div id="footer" class="footer-1 1-footer">
    <svg version="1.1" id="footer-divider" class="secondary" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" xml:space="preserve"
       preserveAspectRatio="none slice">
       <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z" />
    </svg>
    <!-- ==== footer ==== -->
    <footer class="bg-secondary text-light">
       <div class="container">
          <!-- row -->
          <div class="row">
             <!--/ col-lg -->
             <div class="col-lg-4 text-center res-margin">
                <h5>Contact Us</h5>
                <ul class="list-unstyled mt-3">
                   <li class="mb-1"><i class="fas fa-phone margin-icon "></i>+254726133750</li>
                   <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a
                         href="kg@adilies.com">kg@adilies.com</a></li>
                   <li><i class="fas fa-map-marker margin-icon"></i>44 Lodwar</li>
                </ul>
                <!--/ul -->
                <!-- Start Social Links -->
                <ul class="social-list text-center list-inline mt-2">
                   <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                   </li>
                   <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                   <li class="list-inline-item"><a title="Instagram" href="#"><i class="fab fa-instagram"></i></a>
                   </li>
                </ul>
                <!-- /End Social Links -->
             </div>
             <!--/ col-lg -->
             <div class="col-lg-4 text-center">
                <h5>Working Hours</h5>
                <ul class="list-unstyled mt-3">
                   <li class="mb-1">Monday to Friday</li>
                   <li class="mb-1">Open from 9am - 6pm</li>
                   <li class="mb-1">Holidays - Closed</li>
                   <li>Weekends - Closed</li>
                </ul>
                <!--/ul -->
             </div>
             <!--/ col-lg -->
          </div>
          <!--/ row-->
          <hr />
          <div class="row">
             <div class="credits col-sm-12">
                <p>Copyright 2022 / Designed by <a href="#">Dev kim</a></p>
             </div>
          </div>
          <!--/row-->
       </div>
       <!--/ container -->
       <!-- Go To Top Link -->
       <div class="page-scroll hidden-sm hidden-xs">
          <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
       </div>
       <!--/page-scroll-->
    </footer>
    <!--/ footer-->
</div>

{%endblock%}