<!DOCTYPE html>
{% load static %}
<html>
<head>
	<!DOCTYPE html>
	<html lang="en">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	
	<head>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	   <meta name="description" content="">
	   <meta name="author" content="">
	   <!-- page title -->
	   <title>Adii Solar Hubs</title>
		<link rel="shortcut icon" href="https://static.wixstatic.com/media/152bac_cf92267ae2d44977a3784d104504263e~mv2.png/v1/fill/w_92,h_59,al_c,usm_0.66_1.00_0.01,enc_auto/Logo%20transparent%20background.png">
	   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700%7CNunito:400,700,900"
		  rel="stylesheet">
	   <link href="{% static 'fonts/flaticon/flaticon.css' %}" rel="stylesheet" type="text/css">
	   <link href="{% static 'fonts/fontawesome/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css">
	   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	   <!-- Bootstrap core CSS -->
	   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css '%}" rel="stylesheet">
	   <!-- style CSS -->
	   <link href="{% static 'css2/style.css' %}" rel="stylesheet">
	   <!-- plugins CSS -->
	   <link href="{% static 'css2/plugins.css' %}" rel="stylesheet">
	   <!-- Colors CSS -->
	   <link href="{% static 'styles/maincolors.css' %}" rel="stylesheet">
	   <!-- LayerSlider CSS -->
	   <link rel="stylesheet" href="{% static 'vendor/layerslider/css/layerslider.css' %}">
	   <!-- Switcher  -->
	   <link rel="stylesheet" id="switcher-css" type="text/css" href="{% static 'switcher/css/switcher.css' %}" media="all" />

</head>
<body>
    
			{% include "home/navbar.html" %}
            {% block content %}
			
            {% endblock content %}
         

   <!-- Bootstrap core & Jquery -->
   <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
   <!-- Custom Js -->
   <script src="{% static 'js/custom.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <!-- number counter script -->
   <script src="{% static 'js/counter.js' %}"></script>
</body>
</html>