
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- page title -->
   <title>Adii Solar Hubs</title>
	<link rel="shortcut icon" href="https://static.wixstatic.com/media/152bac_cf92267ae2d44977a3784d104504263e~mv2.png/v1/fill/w_92,h_59,al_c,usm_0.66_1.00_0.01,enc_auto/Logo%20transparent%20background.png">
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700%7CNunito:400,700,900"
      rel="stylesheet">
   <link href="{% static 'fonts/flaticon/flaticon.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'fonts/fontawesome/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css">
   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
   <!-- Bootstrap core CSS -->
   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css '%}" rel="stylesheet">
   <!-- style CSS -->
   <link href="{% static 'css2/style.css' %}" rel="stylesheet">
   <!-- plugins CSS -->
   <link href="{% static 'css2/plugins.css' %}" rel="stylesheet">
   <!-- Colors CSS -->
   <link href="{% static 'styles/maincolors.css' %}" rel="stylesheet">
   <!-- LayerSlider CSS -->
   <link rel="stylesheet" href="{% static 'vendor/layerslider/css/layerslider.css' %}">
   <!-- Switcher  -->
   <link rel="stylesheet" id="switcher-css" type="text/css" href="{% static 'switcher/css/switcher.css' %}" media="all" />


</head>
<!-- ==== body starts ==== -->

<body id="top">
   <!-- Preloader -->
   <div id="preloader">
      <div class="container h-100">
         <div class="row h-100 justify-content-center align-items-center">
            <div class="preloader-logo">
               <!-- spinner -->
               <div class="spinner">
                  <div class="dot1"></div>
                  <div class="dot2"></div>
               </div>
            </div>
            <!--/preloader logo -->
         </div>
         <!--/row -->
      </div>
      <!--/container -->
   </div>
   <!--/Preloader ends -->
   <nav id="main-nav" class="navbar-expand-xl fixed-top">
      <div class="row">
         <!-- Start Top Bar -->
         <div class="container-fluid top-bar">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <!-- Start Contact Info -->
                     <ul class="contact-details float-left">
                        <li><i class="fa fa-map-marker"></i>Eldoret</li>
                        <li><i class="fa fa-envelope"></i><a href="kg@adilies.com">kg@adilies.com</a></li>
                        <li><i class="fa fa-phone"></i>+254726133750</li>
                     </ul>
                     <!-- End Contact Info -->
                     <!-- Start Social Links -->
                     <ul class="social-list float-right list-inline">
                        <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="Instagram" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                     </ul>
                     <!-- /End Social Links -->
                  </div>
                  <!-- col-md-12 -->
               </div>
               <!-- /row -->
            </div>
            <!-- /container -->
         </div>
         <!-- End Top bar -->
         <!-- Navbar Starts -->
         <div class="navbar container-fluid">
            <div class="container ">
               <!-- logo -->
               <a class="nav-brand" href="/">
                <img src="https://static.wixstatic.com/media/152bac_cf92267ae2d44977a3784d104504263e~mv2.png/v1/fill/w_92,h_59,al_c,usm_0.66_1.00_0.01,enc_auto/Logo%20transparent%20background.png" alt="" width="90" height="74">
               </a>
               <!-- Navbar toggler -->
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggle-icon">
                     <i class="fas fa-bars"></i>
                  </span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                     <!-- menu item -->
                     <li class="nav-item home-menu ">
                        <a class="nav-link" href="{% url 'home' %}">Home
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item home-menu">
                        <a class="nav-link" href="{% url 'about' %}">About
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item home-menu">
                        <a class="nav-link" href="{% url 'contact' %}">Contact
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item home-menu">
                        <a class="nav-link" href="{% url 'blog' %}">Blogs
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item home-menu">
                        <a class="nav-link" href="{% url 'store' %}">Shop
                        </a>
                     </li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--collapse -->
            </div>
            <!-- /container -->
         </div>
         <!-- /navbar -->
      </div>
      <!--/row -->
   </nav>
   <!-- /nav -->
   <!-- page wrapper starts -->
   <div id="page-wrapper">
      <!-- ==== Slider ==== -->
      <div class="container-fluid p-0">
         <!-- Draggable Slider -->
         <div class="slider-container">
            <!-- Controls -->
            <div class="slider-control left inactive"></div>
            <div class="slider-control right"></div>
            <ul class="slider-pagi"></ul>
            <!--Slider -->
            <div class="slider">
               <!-- Slide 0 -->
               <div class="slide slide-0 active" style="background-image:url({% static 'img2/slider/tur3.jpg' %})">
                  <div class="slide__bg"></div>
                  <div class="slide__content">
                     <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                        <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                     </svg>
                     <!-- slide text-->
                     <div class="slide__text">
                        <h1 class="slide__text-heading">Welcome to ADILI SOLAR HUBS</h1>
                        <div class="hidden-small">
                           <p class="lead">At Adili Solar Hubs Limited, we believe that our clean energy for productive use projects can eradicate poverty in rural areas we establish them at.</p>
                           <a href="/about" class="btn btn-quaternary">about us</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Slide 1 -->
               <div class="slide slide-1" style="background-image:url({% static 'img2/slider/tur2.jpg' %})">
                  <div class="slide__bg"></div>
                  <div class="slide__content">
                     <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                        <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                     </svg>
                     <!-- slide text-->
                     <div class="slide__text">
                        <h1 class="slide__text-heading">Background</h1>
                        <div class="hidden-small">
                           <p class="lead">Adili Solar Hubs was set up in 2019. The company was the vision of Evan Kimani, an engineer, entrepreneur, and a green energy enthusiast. It was his vision to set up cold chain management units in marginalized communities</p>
                           <a href="about-us.html" class="btn btn-quaternary">about us</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Slide 2 -->
               <div class="slide slide-2" style="background-image:url({% static 'img2/slider/tur1.jpg' %})">
                  <div class="slide__bg"></div>
                  <div class="slide__content">
                     <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                        <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                     </svg>
                     <!-- slide text-->
                     <div class="slide__text">
                        <h1 class="slide__text-heading">Objective</h1>
                        <div class="hidden-small">
                           <p class="lead">The aim was to create a social business that would curb food spoilage, improve income for members of the communities, provide employment and equal opportunities to all genders. The company was set to do this using clean and renewable energy.</p>
                           <a href="about.html" class="btn btn-quaternary">About Us</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!--/Slide2 -->
            </div>
            <!--/Slider-->
         </div>
         <!--/ Draggable Slider ends -->

      </div>
      <!-- /container-fluid -->
      <!-- ==== Page Content ==== -->
      <!-- section -->
      <section id="about-home" class="container-fluid pb-0">
         <div class="container">
            <!-- section heading -->
            <div class="section-heading text-center" data-aos="fade-down">
               <h2>About Us</h2>
               <p class="subtitle">Get to know us</p>
            </div>
            <!-- /section-heading -->
            <div class="row">
               <div class="col-lg-5 res-margin">
                  <!-- image -->
                  <img class="img-fluid moving-blob" src="https://media.istockphoto.com/photos/high-angle-shot-of-a-group-of-unrecognisable-businesspeople-joining-picture-id1321457164?b=1&k=20&m=1321457164&s=170667a&w=0&h=y2cM2u4rFjapy3pwlVHWijrPKTV831NOdhweW82Yc0E=" alt="">
                  <!-- ornament starts-->
                  <div class="ornament-bubbles" data-aos="zoom-out"></div>
               </div>
               <!-- /col-lg -->
               <div class="col-lg-7 ">
                  <h3>Our Mission</h3>
                  <p class="mt-4 res-margin">We develop, build, own and operate clean energy powered post harvest processing facilities that create a ready market for products harvested by rural communities. We also incorporate CSR projects that improve they quality of life such as access to potable water in such communities.</p>
                  <a href="/about" class="btn btn-primary ">More about us</a>
               </div>
               <!-- /col-lg -->
            </div>
            <!-- /row -->
         </div>
         <!-- whale in water scene -->
         <!-- whale -->
         <img src="{% static 'img2/ornaments/whale.png' %}" class="floating-whale" alt="">
         <!-- waves -->
         <div class="waveHorizontals">
            <div id="waveHorizontal1" class="waveHorizontal"></div>
            <div id="waveHorizontal2" class="waveHorizontal"></div>
            <div id="waveHorizontal3" class="waveHorizontal"></div>
         </div>
         <!-- sea -->
         <div class="sea"></div>
         <!--/ whale in water scene ends -->
      </section>
      <!-- /section ends -->

      <!-- section -->
      <section id="services-home" class="bg-secondary ">
         <div class="container pb-5">
            <!-- section heading -->
            <div class="section-heading text-center text-light" data-aos="fade-down">
               <h2>SDG'S</h2>
               <p class="subtitle">That we offer</p>
            </div>
            <!-- /section heading -->
            <div class="carousel-3items owl-carousel owl-theme col-lg-12">
               <!-- service 1  -->
               {% comment %} <div class="serviceBox2">
                  <!-- service icon -->
                  <div class="service-icon">
                     <a>
                        <img src="{% static 'img2/slider/tur3.jpg' %}" alt="" class="blob img-fluid">
                     </a>
                  </div>
                  <!-- service content -->
                  <div class="service-content">
                     <a>
                        <h4 class="service-head">Solar installation</h4>
                     </a>
                     <p>
                        We do solar installation
                     </p>

                  </div>
               </div> {% endcomment %}
               <!-- service 2  -->
               {% comment %} <div class="serviceBox2">
                  <!-- service icon -->
                  <div class="service-icon">
                     <a>
                        <img src="{% static 'img2/slider/tur3.jpg' %}" alt="" class="blob2 img-fluid">
                     </a>
                  </div>
                  <!-- service content -->
                  <div class="service-content">
                     <a>
                        <h4 class="service-head">We sell Fish</h4>
                     </a>
                     <p>
                        You can visit our store  to purchase fish of your liking
                     </p>

                  </div>
               </div> {% endcomment %}
               
               
               
            </div>
            <!-- /owl-services -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends -->
      <!-- Section  -->
      <br>
      <div class="row row-cols-1 row-cols-md-3 g-4">
         <div class="col">
           <div class="card">
             <img src="{% static 'img2/slider/water.png' %}" class="card-img-top" alt="...">
             
           </div>
         </div>
         <br>
         <div class="col">
           <div class="card">
             <img src="{% static 'img2/slider/Energy.png' %}" class="card-img-top" alt="...">
             
           </div>
         </div>
         <br>
         <div class="col">
           <div class="card">
             <img src="{% static 'img2/slider/fish.png' %}" class="card-img-top" alt="...">
             
           </div>
         </div>
         <style>
            .col{
               padding: 20px;
            }
         </style>
         
       </div>
      <!-- /section ends-->
      <!-- section-->
      <section id="team-home" class="container">
         <!-- section heading -->
         <div class="section-heading text-center" data-aos="fade-down">
            <h2>Our Team</h2>
            {% comment %} <p class="subtitle">Qualified Professionals</p> {% endcomment %}
         </div>
         <!-- /section-heading -->
         <div class="row">
            <div class="col-lg-7">
               <style>
                  .col-md-4{
                     
                  }
               </style>
              
               <!-- /ul-->
            </div>
            <!-- /col-lg-->
            <!-- /col-lg-->
            <div class="col-lg-12 mt-4 ">
               <!-- team carousel -->
               <div class="d-flex col-md-4">
                  <!-- Team member 1 -->
                  <div class=" ml-3 col-lg-12 team-style3 bg-secondary pattern2">
                     <!-- image -->
                     <a>
                        <img src="{% static 'img2/slider/gich.jpg' %}" class="img-fluid rounded" alt="" />
                     </a>
                     <!-- caption -->
                     <div class="team-caption">
                        <a>
                           <h4>CEO</h4>
                        </a>
                        {% comment %} <h6>Teacher</h6> {% endcomment %}
                        <p>
                           Evan Kimani Gichuche
                        </p>
                     </div>
                     <!-- social icons -->
                     <div class="icons bg-primary">
                        <a href="#"><i class="fa fa-envelope"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                     </div>
                  </div>
                  <!-- /team-style3 -->
                  <!-- Team member 2 -->
                  <div class="col-lg-12 team-style3 bg-secondary pattern2 ">
                     <!-- image -->
                     <a>
                        <img src="{% static 'img2/slider/shiro2.jpg' %}" class="img-fluid rounded" alt="" />
                     </a>
                     <!-- caption -->
                     <div class="team-caption">
                        <a>
                           <h4>Manager</h4>
                        </a>
                        {% comment %} <h6>Administrator</h6> {% endcomment %}
                        <p>
                           Eddumond Shirongo
                        </p>
                     </div>
                     <!-- social icons -->
                     <div class="icons bg-tertiary">
                        <a href="#"><i class="fa fa-envelope"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                     </div>
                  </div>
                  
                  
                  
               </div>
               <!-- /owl-carousel -->
            </div>
            <!-- /col-lg-->
         </div>
         <!-- /row-->
      </section>
      <!-- /section ends-->
      <!-- section -->
      <section id="blogprev-home" data-100-bottom="background-position: 0% 120%;"
         data-top-bottom="background-position: 0% 100%;">
         <div class="container">
            <!-- section heading -->
            <div class="section-heading text-center" data-aos="fade-down">
               <h2>Latest Blog Posts</h2>
               <p class="subtitle">Our Updates</p>
            </div>
            <!-- /section-heading -->
            <!-- blog carousel -->
            
               <!-- blog-box -->
               <div class="blog-box">
                  <!-- image -->
                  <a href="blog-single.html">
                     <div class="image"><img src="{% static 'img2/slider/tur2.jpg' %}" alt="" /></div>
                  </a>
                  <!-- blog-box-caption -->
                  <div class="blog-box-caption">
                     <!-- date -->
                     <div class="date"><span class="day">12</span><span class="month">May</span></div>
                     <a href="blog-single.html">
                        <h4>Adili Solar Hubs</h4>
                     </a>
                     <!-- /link -->
                     <p>
                        Adili Energy Solutions offers engineering, procurement and construction consultancy services to solar contractors and residential clients. The team has collectively worked on more that 102MW of solar systems powering off-grid lodges, flower farms, off-grid communities, schools...
                     </p>
                  </div>
                  <!-- blog-box-footer -->
                  <div class="blog-box-footer">
                     <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>adili</a></div>
                     
                     <!-- Button -->
                     <div class="text-center col-md-12">
                        <a href="/blog" class="btn btn-primary ">Read more</a>
                     </div>
                  </div>
                  <!-- /blog-box-footer -->
               </div>
               <!-- /blog-box -->
               <!-- blog-box -->
               
           
            <!-- /owl-carousel -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends-->
      <!-- section -->
      <style>
         #callout {
            background-image: url("{% static 'img2/slider/fog.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
         }
      </style>
      <section id="callout" class=" container-fluid bg-fixed">
         <div class="container">
            <!-- row -->
            <div class="row">
               <div class="col-lg-6 p-0" data-start="right: 50%;" data-center="right:-5%;">
                  <!-- image  -->
                  <img src="{% static 'img2/slider/solar1.jpg' %}" class="img-fluid img-rounded" alt="" style="opacity: 10px;">
               </div>
               <!-- text box  -->
               <div class="col-lg-6 bg-secondary p-5 justify-content-center align-self-center" data-start="left: 50%;"
                  data-center="left:-5%;">
                  <div class="text-light justify-content-center align-self-center">
                     <h3>Get in Touch</h3>
                     <p>Adili Solar Hubs Limited
                        <br>
                        info@adilies.com</p>
                     <a href="/contact" class="btn btn-tertiary">Contact us</a>
                  </div>
                  <!-- /text-light  -->
               </div>
               <!-- /col-lg  -->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends -->
   </div>
   <!--/ page-wrapper -->

   <div id="footer" class="footer-1 1-footer">
      <svg version="1.1" id="footer-divider" class="secondary" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" xml:space="preserve"
         preserveAspectRatio="none slice">
         <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z" />
      </svg>
      <!-- ==== footer ==== -->
      <footer class="bg-secondary text-light">
         <div class="container">
            <!-- row -->
            <div class="row">
               <!--/ col-lg -->
               <div class="col-lg-4 text-center res-margin">
                  <h5>Contact Us</h5>
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1"><i class="fas fa-phone margin-icon "></i>+254726133750</li>
                     <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a
                           href="mailto:email@yoursite.com">kg@adilies.com</a></li>
                     <li><i class="fas fa-map-marker margin-icon"></i>Eldoret</li>
                  </ul>
                  <!--/ul -->
                  <!-- Start Social Links -->
                  <ul class="social-list text-center list-inline mt-2">
                     <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                     </li>
                     <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                     <li class="list-inline-item"><a title="Instagram" href="#"><i class="fab fa-instagram"></i></a>
                     </li>
                  </ul>
                  <!-- /End Social Links -->
               </div>
               <!--/ col-lg -->
               <div class="col-lg-4 text-center">
                  <h5>Working Hours</h5>
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1">Monday to Friday</li>
                     <li class="mb-1">Open from 9am - 6pm</li>
                     <li class="mb-1">Holidays - Closed</li>
                     <li>Weekends - Closed</li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
            </div>
            <!--/ row-->
            <hr />
            <div class="row">
               <div class="credits col-sm-12">
                  <p>Copyright 2022 / Designed by <a href="#">Dev kim</a></p>
               </div>
            </div>
            <!--/row-->
         </div>
         <!--/ container -->
         <!-- Go To Top Link -->
         <div class="page-scroll hidden-sm hidden-xs">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
         <!--/page-scroll-->
      </footer>
      <!--/ footer-->
   </div>

   <!-- Bootstrap core & Jquery -->
   <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
   <!-- Custom Js -->
   <script src="{% static 'js/custom.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <!-- number counter script -->
   <script src="{% static 'js/counter.js' %}"></script>
</body>

</html>
{%endblock%}